@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./font/Gilroy-Semibold.woff2');
}

/* Сброс стилей для всех элементов */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

/* Основные стили для всей страницы */
body {
    scroll-behavior: smooth;
    font-weight: 400;
    color: #000;
    background: #FFF;
}

/* Основные стили для изображений */
img {
    max-width: 100%;
    display: block;
}

/* Общие стили для контейнеров */
.container {
	max-width: 1146px;
	margin: 0 auto;
}

/* Стили для шапки (header) */
header {
	padding: 50px 0;
	margin-bottom: 95px;
}

.header-content.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для логотипа и текста "GrowBe" */
.logo-container {
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    display: flex;
    margin-right: 346px;
    align-items: center;
    gap: 14px;
}

/* Стили для оранжевой части текста "Be" */
.be {
    color: #F25822;
}

/* Стили для навигационного меню (navigation) */
.navigation {
    font-family: 'Gilroy-SemiBold';
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 40px; /* Увеличиваем высоту для лучшей видимости */
    width: 100%; /* Заполняем всю доступную ширину */
}

.navigation a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

/* Стили для кнопки "Get Started" */
.get-started-container {
    font-family: 'Gilroy-SemiBold';
    font-size: 12px;
    margin-left: 34px;
}

.get-started-button {
    color: #fff;
    font-weight: bold;
    display: flex;
    background-color: #F25822;
    padding: 12px 27px;
    border-radius: 30px;
    width: 120px;
    height: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Уменьшаем размер и растягиваем маркер */
.dropdown-marker {
    font-size: 0.5em; /* Меняем размер шрифта */
    transform: scaleX(2); /* Растягиваем маркер по вертикали */
    display: inline-block; /* Обеспечиваем правильное отображение внутри текста */
    vertical-align: middle; /* Выравниваем маркер по вертикальному центру */
}

/* Окрашиваем текст "Home" в оранжевый цвет */
.navigation a:nth-child(1) {
    color: #F25822;
}

/* Стили для основного контента (main-content) */
.main-content.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px; /* Уменьшаем отступ снизу */
}

.main-content__wrapper {
    max-width: 522px;
    max-height: 222px;
    margin-bottom: 41px;
}

/* Стили для элипса */
.ellipse {
    position: relative;
    display: inline-block;
}

.ellipse::before {
    content: "";
    width: 314px;
    height: 76px;
    border: 1px solid #F25822;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: -7%;
    z-index: -1;
}

.main-content__wrapper h1 {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
}

.main-content__wrapper h2 {
    color: #888;
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 37px;
    margin-right: 56px;
}

.main-content__btn-list {
    font-family: 'Gilroy-Bold';
    display: flex;
    align-items: center;
}

/* Стили для кнопки "Start Now" */
.start-btn {
    color: #fff;
    background-color: #F25822;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Стили для белой кнопки "Watch Video" */
.watch-btn {
    background-color: white;
    color: #AAAAAA;
    border: none; /* Убираем рамку */
}

/* Стили для иконки play-btn */
.play-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 27px;
    margin-right: 15px;
}

.play-icon {
    width: 30px;
    height: 30px;
}


.main-img-container img {
    max-width: 544px;
    max-height: 375px;
}
/* Стили для логотипов в подвале */
.logos.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 97px; /* Добавляем отступ сверху */
    margin-bottom: 96px; /* Добавляем отступ снизу */
}

.logos img {
    max-width: 150px; /* Ограничиваем максимальную ширину логотипов */
    max-height: 50px;
}

.logos.container img {
    max-width: 100%; /* Заполняем по ширине контейнера */
    height: auto; /* Сохраняем пропорции */
    margin-right: 48px; /* Расстояние между логотипами справа */
}

/* Уберем правый отступ у последнего логотипа */
.logos.container img:last-child {
    margin-right: 0;
}

/* Стили для секции с карточками функций (feature-cards) */
.feature-cards.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 1915px;
    height: 491px;
}

.feature-card {
    width: 370px;
    height: 291px;    
    gap: 30px;
}

.feature-icon {
    padding: 40px 30px 25px; /* Отступы */
}

.feature-card h4 {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-card p {
    margin-top: 17px;
    margin-right: 50px;
    color: #AAA;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
}

.feature-card a {
    margin-top: 25px;
    display: inline-block;
    color: #000; /* Черный цвет текста */
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* Стили для текста внутри карточки */
.feature-card h4,
.feature-card p,
.feature-card a {
    margin-left: 30px; /* Отступ слева внутри карточки в 30px */
}

/* Стили для центральной карточки верхнего блока */
.feature-card:nth-child(2) {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.page-background {
    background: #FAFAFA; /* Задайте желаемый фоновый цвет */
}

/* Стили для секции "Why You Should Choose Us" */
.why-choose-us.container {
    text-align: center;
    padding-top: 92px;   
    width: 1920px;
    height: 919px;
    flex-shrink: 0;
}

/* Стили для карточек в секции "Why You Should Choose Us" */
.why-choose-us-card {
    background: #FFF; /* Задаем белый фон */
    flex-shrink: 0; /* Запрещаем уменьшение размера карточки при сжатии экрана */
    height: 549px;
}

.feature-card .feature-img {
    max-width: 100%; /* Ограничиваем максимальную ширину изображения по ширине родительского элемента */
    height: auto; /* Сохраняем пропорции изображения */
}

.why-choose-us h2 {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.why-choose-us h4 {
    margin-left: 0;
}

.why-choose-us p {
    margin-top: 19px;
    margin-left: 0;
    max-width: 682px;
    color: #AAAAAA;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-inline: 30px;
}

.why-choose-us a {
    margin-left: 0;
}
/* Стили для карточек с картинками */
.feature-card.learn-more-button {
    display: flex;
    flex-direction: column; /* Выравнивание элементов внутри карточки по вертикали */
    align-items: center; /* Выравнивание элементов внутри карточки по центру */
}

/* Стили для контейнера карточек */
.feature-card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; /* Отступ сверху */
    gap: 30px;
}

.learn-more-button {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background-color: #F25822;
    border: none;
    padding: 15px 26px 15px 46px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    position: relative;
}

/* Стили для контейнера значка SVG */
.learn-more-icon {
    margin-left: 6px; /* Отступ слева между текстом и значком */
}

a.learn-more-link:hover {
    cursor: pointer; /* Изменяет вид курсора при наведении на ссылку */
}



/* Стили для подвала (footer) */
/* footer {
    background-color: #000;
    color: #fff;
    background-color: #FFFFFF;
    max-height: 243px;
    margin-top: 97px;
    margin-bottom: 96px;
} */